/* Space out content a bit */
body, html {
    margin-bottom: 30px;
    background-color: rgba(225, 225, 225, 0.15) !important;
}

html, body, .main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body > .main {
    height: auto;
    min-height: 100%;
}

.content {
    padding-bottom: 3em;
}

#footer {
    clear: both;
    position: relative;
    text-align: center;
    height: 100%;
    margin-top: -3em;
    background-color: #101010;
    padding-top: 15px;
    color: #777;
    border-top: 4px solid #8cc84b;
    padding-bottom: 10px;
}

a {
    color: #8cc84b;
    text-decoration: none;
}

a.grey {
    color: #777;
    font-weight: bold;
}

a:hover, a:focus {
    color: #6bb61a;
    text-decoration: none;
}

#footer p {
    padding: 2px !important;
    margin: 0 0 1px 0 !important;
}

strong.green {
    color: #8cc84b;
}

.main {
    padding: 3px 20px;
    /*font-family: 'Source Sans Pro', sans-serif !important;*/
}

.handicon {
    cursor: pointer !important;
}

div .down-arrow {
    border-color: #dddddd;
    background-color: #f5f5f5;
    height: 2px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.down-arrow:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-top-color: #dddddd;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

.notification-bell {
    margin-left: 5px;
    cursor: pointer;
}

.notification-bell > .notification-bell-icon {
    font-size: 1.75em !important;
}

.notification-bell > .notification-bell-badge {
    margin-top: -13px !important;
    margin-left: 7px !important;
}

.notification-bell > .notification-bell-badge > span {
    font-size: 0.7em !important;
}

.miner-dropdown {
    text-align: left;
    margin: 0 2px 0 2px;
}

.miner-title {
    text-transform: uppercase;
    margin-top: 4px;
}

.control-label {
    text-align: left !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom: 5px solid #8cc84b;
    margin-bottom: -2px;
}

.table-header-text {
    display: inline-block;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.table-overview td:nth-child(2) {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .table-header-text {
        display: none;
    }

    .table-overview td:nth-child(2) {
        text-align: right;
    }
}

/* Bootstrap Overrides */
.btn-primary {
    color: #ffffff;
    background-color: #8cc84b;
    border-color: #6ba42d;
    border-bottom: 3px solid #6ba42d;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #79bf47;
    border-color: #497d10;
    border-bottom: 3px solid #6ba42d;
}

.footer a {
    color: #8cc84b !important;
    text-decoration: none;
}

.footer a:hover,
.footer a:focus {
    color: #2a6496;
    text-decoration: underline;
}

.miner-offline {
    text-align: center;
    padding: 20px;
    background-color: #d9534f;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000000;
}

.input-sm {
    width: 80px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/* x-editable overrides */
.editable-click,
a.editable-click {
    text-decoration: none;
    color: #000 !important;
    border-bottom: solid 2px #8cc84b !important;
}

.editable-click:hover,
a.editable-click:hover {
    text-decoration: none;
    font-weight: bold;
    color: #8cc84b !important;
    border-bottom-color: #8cc84b !important;
}

.btn-default {
    border-bottom: 3px solid lightgrey;
}

.btn-default:hover {
    border-bottom: 3px solid grey;
}

.btn-success {
     border-bottom: 3px solid green;
 }

.btn-success:hover {
    border-bottom: 3px solid darkgreen;
}

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.table-container::-webkit-scrollbar
{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.panel-default > .panel-heading {
    color: #f5f5f5;
    background-color: #333;
    border-bottom: 5px solid #8cc84b;
}

.panel-default > .panel-footer {
    padding: 10px 15px;
    background-color: #333;
    border-top: 2px solid #8cc84b;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}