node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
/views
dist
/.idea
/node_modules
express
.bin
.idea
/node_modules/express
/node_modules/.bin
/lib/config/pools.json
/lib/config/coins.json
/lib/config/miners.json
