<div ng-controller="CoinsCtrl">
<h2>Coins
  <small>Setup Custom Coin Configuration</small>
</h2>
<hr/>
<div class="row">
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Add a Coin</strong></div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="name" class="col-lg-3 control-label">Name</label>

          <div class="col-lg-9">
            <input type="text" class="form-control" id="name"
                   ng-model="coin.name">
          </div>
        </div>
        <div class="form-group">
          <label for="symbol" class="col-lg-3 control-label">Symbol</label>

          <div class="col-lg-9">
            <input type="text" class="form-control" id="symbol"
                   ng-model="coin.symbol">
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Pools</strong>

            <!-- Split button -->
            <div class="btn-group btn-group-xs pull-right">
              <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i>&nbsp; Add Pool
              </button>
              <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="pool in pools track by pool.name"><a href="" ng-click="addPool(null, pool)"><i
                    class="fa fa-users fa-fw"></i>&nbsp; {{pool.name}}
                  ({{pool.url.replace('stratum+tcp://', '').replace('http://', '')}})</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <div class="panel panel-default" ng-repeat="pool in coin.pools track by $index">
              <div class="panel-heading">
                <span class="handicon" ng-click="togglePoolDetails(pool)"><i class="fa"
                                                                             ng-class="{'fa-chevron-up':pool.showDetails == true, 'fa-chevron-down':pool.showDetails == false}"></i>&nbsp;<strong>{{pool.name}}</strong></span>

                <div class="pull-right">
                  <button class="btn btn-default btn-xs" ng-click="deletePool(null, pool)"><i
                      class="fa fa-minus-circle"></i>&nbsp;Delete
                  </button>
                </div>


              </div>

              <table class="table table-striped table-hover" ng-show="pool.showDetails">
                <tbody>
                <tr>
                  <td><strong>Name</strong></td>
                  <td>
                    {{pool.name}}
                  </td>
                </tr>
                <tr>
                  <td><strong>URL</strong></td>
                  <td>
                    {{pool.url}}
                  </td>
                </tr>
                <tr>
                  <td><strong>Port</strong></td>
                  <td>
                    {{pool.port}}
                  </td>
                </tr>
                <tr>
                  <td><strong>Username</strong></td>
                  <td>
                    {{pool.workerName}}
                  </td>
                </tr>
                <tr>
                  <td><strong>Password</strong></td>
                  <td>
                    {{pool.workerPassword}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn btn-success" ng-click="add(coin)">Add Coin</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Existing Coins</strong></div>
    <div class="panel-body">

      <div class="panel panel-default" ng-repeat="coin in coins track by $index">
        <div class="panel-heading">
                            <span class="handicon" ng-click="toggleCoinDetails(coin)"><i class="fa"
                                                                                         ng-class="{'fa-chevron-up':coin.showDetails == true, 'fa-chevron-down':coin.showDetails == false}"></i>&nbsp;<strong>{{coin.name}}</strong></span>

          <div class="pull-right">
            <button class="btn btn-default btn-xs" ng-click="allowEdit(coin)"><i class="fa fa-pencil"></i>&nbsp;Edit
            </button>
            <button class="btn btn-default btn-xs" ng-popover-confirm="delete({{coin}})" data-title="Really delete this Coin?" data-placement="left"><i class="fa fa-minus-circle"></i>&nbsp;Delete
            </button>
          </div>
        </div>

        <table class="table table-striped table-hover" ng-show="coin.showDetails">
          <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td>
              <div ng-show="!coin.allowEdit">{{coin.name}}</div>
              <div ng-show="coin.allowEdit">
                <input type="text" class="form-control" ng-model="coin.name">
              </div>
            </td>
          </tr>
          <tr>
            <td><strong>Symbol</strong></td>
            <td>
              <div ng-show="!coin.allowEdit">{{coin.symbol}}</div>
              <div ng-show="coin.allowEdit">
                <input type="text" class="form-control" ng-model="coin.symbol">
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="panel-body" ng-show="coin.showDetails">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Pools</strong>

              <!-- Split button -->
              <div class="btn-group btn-group-xs pull-right" ng-show="coin.allowEdit">
                <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i>&nbsp; Add Pool
                </button>
                <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="pool in pools track by pool.name"><a href="" ng-click="addPool(coin, pool)"><i
                      class="fa fa-users fa-fw"></i>&nbsp; {{pool.name}}
                    ({{pool.url.replace('stratum+tcp://', '').replace('http://', '')}})</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-body">
              <div class="panel panel-default" ng-repeat="pool in coin.pools track by $index">
                <div class="panel-heading">
                  <span class="handicon" ng-click="togglePoolDetails(pool)"><i class="fa"
                                                                               ng-class="{'fa-chevron-up':pool.showDetails == true, 'fa-chevron-down':pool.showDetails == false}"></i>&nbsp;<strong>{{pool.name}}</strong></span>

                  <div class="pull-right" ng-show="coin.allowEdit">
                    <button class="btn btn-default btn-xs" ng-click="deletePool(coin, pool)"><i
                        class="fa fa-minus-circle"></i>&nbsp;Delete
                    </button>
                  </div>
                </div>

                <table class="table table-striped table-hover" ng-show="pool.showDetails">
                  <tbody>
                  <tr>
                    <td><strong>Name</strong></td>
                    <td>
                      {{pool.name}}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>URL</strong></td>
                    <td>
                      {{pool.url}}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Port</strong></td>
                    <td>
                      {{pool.port}}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Username</strong></td>
                    <td>
                      {{pool.workerName}}
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Password</strong></td>
                    <td>
                      {{pool.workerPassword}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer" ng-show="coin.allowEdit">
          <button class="btn btn-success btn-sm" ng-click="saveEdit(coin)">Save Changes</button>
          <button class="btn btn-default btn-sm" ng-click="disableEdit(coin)">Cancel</button>
        </div>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
</div>
</div>