<div id="footer">
  <p><strong class="green">nodeminer</strong> &bullet; Created by <a href="http://github.com/brandon-barker" target="_blank">Brandon Barker</a></p>
  <p>BTC: <a class="grey" href="bitcoin:17tQq3mSePUSGZcNzC66ZEK4wkSj2ayM2w">17tQq3mSePUSGZcNzC66ZEK4wkSj2ayM2w</a> &bullet; LTC: <a class="grey" href="litecoin:LN2t5RXkTZCJLv7fNsUm77gFZmzob1yHiL">LN2t5RXkTZCJLv7fNsUm77gFZmzob1yHiL</a></p>
  <p><i class="fa fa-github"></i>&nbsp; <a href="http://github.com/brandon-barker/nodeminer" target="_blank">GitHub Project</a> &bullet; <i class="fa fa-github-alt"></i>&nbsp; <a href="http://github.com/brandon-barker/nodeminer/issues" target="_blank">Issues</a></p>
</div>