<div ng-controller="MinerCtrl">
    <div class="panel panel-default" ng-repeat="miner in miners">
        <div class="panel-heading">
            <strong>{{miner.name}}</strong>
            &nbsp;&nbsp;
            <span class="label label-primary">{{miner.numberOfDevices}} devices</span>

            <div id="notifications" class="fa-stack notification-bell pull-right" title="Notifications">
                <i class="fa fa-bell-o fa-stack-2x notification-bell-icon"></i>
                <i class="fa fa-stack fa-stack-1x notification-bell-badge" ng-show="miner.notifications.count > 0">
                    <span class="label label-danger">{{miner.notifications.count}}</span>
                </i>
            </div>

            <div id="change-pool" class="btn-group btn-group-xs pull-right miner-dropdown">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cloud"></i>&nbsp; Change Pool <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hashco.ws</a></li>
                    <li><a href="#">Middlecoin</a></li>
                </ul>
            </div>

            <div id="change-coin" class="btn-group btn-group-xs pull-right miner-dropdown">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-btc"></i>&nbsp; Change Coin <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Coino</a></li>
                    <li><a href="#">DigitalCoin</a></li>
                    <li><a href="#">DogeCoin</a></li>
                    <li><a href="#">LottoCoin</a></li>
                    <li><a href="#">NetCoin</a></li>
                    <li><a href="#">WorldCoin</a></li>
                </ul>
            </div>

            <div id="actions" class="btn-group btn-group-xs pull-right miner-dropdown">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i>&nbsp; Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-clock-o fa-fw"></i>&nbsp;History</a></li>
                    <li><a href="#"><i class="fa fa-cog fa-fw"></i>&nbsp;Process Log</a></li>
                    <li><a href="#"><i class="fa fa-eye fa-fw"></i>&nbsp;API Monitor</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-repeat fa-fw"></i>&nbsp;Restart</a></li>
                    <li><a href="#"><i class="fa fa-power-off fa-fw"></i>&nbsp;Shutdown</a></li>
                </ul>
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th width="25px"></th>
                    <th>Name</th>
                    <th>Coin</th>
                    <th>Pool</th>
                    <th>Temperature</th>
                    <th>Fan</th>
                    <th>Hashrate</th>
                    <th>Shares</th>
                    <th>Work Utility</th>
                    <th>Intensity</th>
                    <th>GPU Clock</th>
                    <th>Memory Clock</th>
                    <th>Voltage</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="device in miner.devices">
                    <td><span class="fa fa-check"></span></td>
                    <td>{{device.name}}</td>
                    <td>{{device.coin}}</td>
                    <td>{{device.pool}}</td>
                    <td>{{device.temperature}}</td>
                    <td>{{device.fan}}</td>
                    <td>{{device.hashrate}}</td>
                    <td>{{device.shares}}</td>
                    <td>{{device.utility}}</td>
                    <td>{{device.intensity}}</td>
                    <td>{{device.gpuClock}}</td>
                    <td>{{device.gpuMemory}}</td>
                    <td>{{device.voltage}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <span class="label label-primary">{{miner.totalHashrate}} Total Hashrate</span>
                </div>
                <div class="col-sm-6" style="text-align: right;">
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i>&nbsp; Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>