<nav class="navbar navbar-static-top navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="images/logo.png" width="141px" height="23px" ></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}"><i class="{{item.icon}}"></i>&nbsp; {{item.title}}</a>
      </li>
    </ul>
    <div class="navbar-right" style="margin-right: 10px;">
      <button type="button" class="btn btn-primary btn-sm navbar-btn"><i class="fa fa-btc"></i>&nbsp; Donate</button>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>